*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

section {
  color: yellow;
}


h1 {
  background-color: black;
}

h1 {
  color: yellow;
  text-decoration: double;
  text-align: center;
}

main > section {
  width: 50%;
}
 
  


