*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

section {
  color:black;
}


h1 {
  background-color: black;
}

h1 {
  color: yellow;
  text-decoration: double;
  text-align: center;
}
 
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section {
  margin: 1%;
  padding: 3%;
  background-color: white;
  width: 55%;
}

.right-side {
  margin: 1%;
  padding: 3%;
  background-color: white;
}

.Auswärtstrikot {
  width: 75%;
  height: 75%
}

.titel {
  margin:2%;
}

.link {
  text-align: center;
  color: black;
  font-style: italic;
  margin: 1%;
  font-family: Arial, Helvetica,
}

.Liste 1 {
  ;
}